extends layout

block content
  .w3-container
        h3 CLAV: Classificação e Avaliação da Informação Pública - processos e termos de índice
        h9 A CLAV é uma plataforma em desenvolvimento no DI/UM em parceria e sob encomenda da Direção Geral do Livro, Arquivos e Bibliotecas (DGLAB) que visa a classificação e a avaliação de toda a documentação circulante na administração pública portuguesa.
  .w3-container
    .w3-card-4
      ul 
        li
          a(href="/classes") Classes
      ul
        li
          a(href="/termosIndice") Termos de Índice
    footer.w3-container.w3-teal Gerado by Duarte Oliveira